hcloud_token           = "replace-me"
project_name           = "app"
location               = "nbg1"
network_zone           = "eu-central"
dns_zone               = "knowlestry.com"
customerapp = {
  domain             = "chat.knowlestry.com"
  server_type        = "cpx21"
  load_balancer_type = "lb11"
  instance_count     = 1
  image              = "ubuntu-24.04"
  backend_port       = 80
}
ssh_keys = [
  {
    name       = "grobmeier"
    public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... grobmeier@knowlestry.com"
  },
  {
    name       = "second-admin"
    public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAI... second-admin@example"
  },
]
network_ip_range       = "10.10.0.0/16"
subnet_ip_range        = "10.10.1.0/24"
ssh_allowed_cidrs      = ["0.0.0.0/0", "::/0"]

# Optional cloud-init example:
# customerapp = {
#   domain             = "chat.knowlestry.com"
#   server_type        = "cpx21"
#   load_balancer_type = "lb11"
#   instance_count     = 1
#   image              = "ubuntu-24.04"
#   backend_port       = 80
#   cloud_init_file    = "cloud-init/chat-app-docker.yaml"
# }
